S3method("plot", "pkgndep")
export("plot.pkgndep")
S3method("print", "pkgndep")
export("print.pkgndep")
export("gini_index")
export("heaviness")
export("loaded_namespaces")
export("pkgndep")
export("unavailable_packages")

import(ComplexHeatmap)
import(GetoptLong)
import(crayon)
import(grid)
importFrom("callr", "r")
importFrom("grDevices", "dev.interactive", "png", "jpeg", "svg")
importFrom("grDevices", "dev.off", "dev.size")
importFrom("utils", "packageDescription", "read.table")
importFrom("utils", "sessionInfo")

