S3method("plot", "pkgndep")
export("plot.pkgndep")
S3method("print", "pkgndep")
export("print.pkgndep")
export("child_dependency")
export("downstream_dependency")
export("gini_index")
export("heaviness")
export("heaviness_on_children")
export("heaviness_on_downstream")
export("html_report")
export("load_all_pkg_dep")
export("load_pkg_db")
export("load_pkg_stat_snapshot")
export("loaded_packages")
export("open_website")
export("parent_dependency")
export("pkgndep")
export("reformat_db")
export("required_dependency_packages")
export("upstream_dependency")

import(ComplexHeatmap)
import(GetoptLong)
import(grid)
import(hash)
importFrom("grDevices", "dev.interactive", "png", "jpeg", "svg")
importFrom("grDevices", "dev.off", "dev.size")
importFrom("methods", "new")
importFrom("utils", "available.packages", "download.file", "installed.packages")
importFrom("utils", "browseURL")
importFrom("utils", "getFromNamespace")
importFrom("utils", "packageDescription", "read.table")
importFrom("utils", "sessionInfo")

