body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: medium;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}

.ui-widget-content a {
    color: #337ab7;
    text-decoration: none;
}

